.theme-box {
  font-family: $A-primary-font;
}
.base { 
  @include themeBox;
  background-color: red;
  color: $A-color-text;
}
.important { 
  @include themeBox;
  color: $A-color-text;
  background-color: darkred;
}
.warning { 
  @include themeBox;
  background-color: pink;
  color: $A-color-text;
}
.primary-font{
  font-family: $A-primary-font;
  font-size: 2rem;
}
.secondary-font {
  font-family: $A-secondary-font;
  font-size: 1rem;
}
.box-shadow{
  border: solid 2px black;
  height: 120px;
  width: 120px;
  margin: 20px;
  padding: 10px;
  box-shadow: -10px 10px 5px 1px rgba(black, 0.7);
}